body,html {
	height: 100%;
	background: #f3f3f3;
}

#pear-login {
	height: 100%;
	padding-top: 1px;
	margin-top: -1px;
	background-image: url(../../images/background2.svg);
    background-size: cover;
}

#pear-login .layui-logo {
	user-select: none;
	overflow: hidden;
	position: static;
	font-size: 27px;
	width: 100%;
	padding: 0;
	line-height: 120px;
	height: 120px;
	color: #5FB878;
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	transition: height .8s cubic-bezier(0.075,0.82,0.165,1)
}

#pear-login .layui-logo span {
	font-weight: 600;
	color: rgba(0,0,0,.85);
	border-bottom: 1px solid #5FB878
}
#pear-login .pear-tc{
	text-align: center;
}
.layui-form-checked[lay-skin=primary] i {
	border-color: #5FB878 !important;
	background-color: #5FB878 !important;
	color: #fff !important;
}
.layui-input:focus {
	box-shadow: 0px 0px 3px 1px #5FB878 !important;
}
#pear-login .layui-logo span b {
	color: #5FB878
}

#pear-login .login-wrap {
	position: relative;
	top: 50%;
	margin-top: -290px;
	height: 540px
}

#pear-login .layui-form {
	overflow: hidden;
	background: #fff;
	padding: 40px 40px 20px;
	border-radius: 0;
    box-shadow: 5px 4px 3px #eee;
	position: relative
}

#pear-login .layui-form-item {
	position: relative
}

#pear-login .verify-block {
	display: none
}

#pear-login .layui-input {
	text-indent: 26px
}

#pear-login .codeimg {
	margin-left: 5px;
    max-height: 50px;
	max-width: 100%;
    cursor: pointer;
    box-sizing: border-box;
}

#pear-login .sendsms {
	position: absolute;
	top: 4px;
	right: 4px;
	width: 100px;
	border: none
}

#pear-login .sendsms.layui-btn-disabled {
	background: #f4f4f4;
	color: #bbb
}

#pear-login .houseimg {
	text-align: center
}

#pear-login .houseimg img {
	display: inline-block;
	margin-top: 5%
}

#pear-login .login-type-tab {
	margin-bottom: 20px;
	overflow: hidden
}

#pear-login .login-type-tab li {
	display: inline-block;
	padding-right: 20px;
	font-size: 16px;
	line-height: 30px;
	color: #bbb;	
	transition: color .5s ease
}

#pear-login .login-type-tab li.active {
	color: #333
}

#pear-login .login-type-tab li .qrcode-icon {
	font-size: 24px
}

#pear-login .phonecode-block {
	display: none
}

#pear-login .qrcode-block {
	text-align: center;
	display: none
}

#pear-login .qrcode-block .qrcode {
	border: 1px solid #eee;
	display: inline-block;
	padding: 15px;
	margin: 30px 0;
	width: 158px;
	height: 158px
}

#pear-login .qrcode-block .qrcode .layui-icon {
	line-height: 158px;
	font-size: 44px;
	color: #e6e6e6
}

#pear-login .qrcode-block .p1 {
	font-size: 16px
}

#pear-login .qrcode-block .p2 {
	font-size: 14px;
	color: #999;
	margin-top: 10px;
	margin-bottom: 20px
}

#pear-login .layui-form-item .label-icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 38px;
	line-height: 38px;
	text-align: center;
	color: #d2d2d2!important
}

.footer {
	text-align: center;
	padding: .5rem 1rem 1rem
}
.layui-form button {
    width: 100% !important;
    height: 44px !important;
    line-height: 44px !important;
    font-size: 16px !important;
    background-color: #5FB878 !important;
    font-weight: 550 !important;
}