
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="__STATIC__/component/pear/css/pear.css" />
    <link id="layuicss-layer" rel="stylesheet" href="__STATIC__/component/layui/css/modules/layer/default/layer.css" media="all">
</head>
<body class="pear-container">
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
        <div class="layui-tab layui-tab-brief" lay-filter="TabBrief">
            <ul class="layui-tab-title">
                <li lay-id="web">网站设置</li>
                <li lay-id="email">邮箱设置</li>
                <li lay-id="file">上传设置</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <form class="layui-form edit-form" action="" lay-filter="component-form-element">
                        <div class="layui-form-item">
                            <label class="layui-form-label">
                                网站标题
                            </label>
                            <div class="layui-input-block">
                                <input autocomplete="off" class="layui-input" name="title" value="{$data['title']??''}" type="text"/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">
                                网站关键词
                            </label>
                            <div class="layui-input-block">
                                <input autocomplete="off" class="layui-input"  name="key" value="{$data['key']??''}" type="text"/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">
                                网站描述
                            </label>
                            <div class="layui-input-block">
                                <textarea name="desc" class="layui-textarea">{$data['desc']??''}</textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">
                                电话
                            </label>
                            <div class="layui-input-block">
                                <input autocomplete="off" class="layui-input"  name="tel" value="{$data['tel']??''}" type="text"/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">
                                QQ
                            </label>
                            <div class="layui-input-block">
                                <input autocomplete="off" class="layui-input"  name="qq" value="{$data['qq']??''}" type="text"/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">
                                邮箱
                            </label>
                            <div class="layui-input-block">
                                <input autocomplete="off" class="layui-input"  name="mail" value="{$data['mail']??''}" type="text"/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">
                                地址
                            </label>
                            <div class="layui-input-block">
                                <input autocomplete="off" class="layui-input"  name="addr" value="{$data['addr']??''}" type="text"/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">
                                网站LOGO
                            </label>
                            <div class="layui-input-block">
                            <button class="pear-btn pear-btn-primary pear-btn-sm  upload-image" type="button">
                                    <i class="fa fa-image">
                                    </i>
                                    上传图片
                                </button>
                                <input lay-verify="uploadlogo" name="logo" type="hidden" value="{$data['logo']??''}"/>
                                <div class="upload-image">
                                    <span>
                                    </span>
                                    <img class="upload-image" src="{$data['logo']??''}"/>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">
                                网站海报
                            </label>
                            <div class="layui-input-block">
                            <button class="pear-btn pear-btn-primary pear-btn-sm upload-image" type="button">
                                    <i class="fa fa-image">
                                    </i>
                                    上传图片
                                </button>
                                <input lay-verify="uploadbg" name="bg" type="hidden" value="{$data['bg']??''}"/>
                                <div class="upload-image">
                                    <span>
                                    </span>
                                    <img class="upload-image" src="{$data['bg']??''}"/>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">
                                登录验证码
                            </label>
                            <div class="layui-input-block">
                                {if $data['login_captcha']??''}
                                <input checked="" lay-filter="login_captcha" lay-skin="switch" lay-text="开启|关闭" name="login_captcha" type="checkbox" value="1"/>
                                {else}
                                <input lay-filter="login_captcha" lay-skin="switch" lay-text="开启|关闭" name="login_captcha" type="checkbox" value="0"/>
                                {/if}
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button type="submit" class="pear-btn pear-btn-primary" lay-submit="" lay-filter="configform">保存设置</button>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
                </div>
            </div>      
        </div>
    </div>
</div>
<script src="__STATIC__/component/layui/layui.all.js"></script>
<script src="__STATIC__/component/pear/pear.js"></script>
<script src="__STATIC__/admin/js/site_config/index.js"></script>
</body>
</html>
