
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <link rel="stylesheet" href="__STATIC__/component/pear/css/pear.css" />
    <link id="layuicss-layer" rel="stylesheet" href="__STATIC__/component/layui/css/modules/layer/default/layer.css" media="all">
</head>
<body class="pear-container">
	<div class="layui-card">
		<div class="layui-card-body">
			<table id="dataTable" lay-filter="dataTable"></table>
		</div>
	</div>

	<script type="text/html" id="toolbar">
		<button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
			<i class="layui-icon layui-icon-add-1"></i>
			新增
		</button>
		<button class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
			<i class="layui-icon layui-icon-delete"></i>
			删除
		</button>
	</script>

	<script type="text/html" id="user-bar">
		<button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i></button>
	</script>
    <script src="__STATIC__/component/layui/layui.all.js"></script>
    <script src="__STATIC__/component/pear/pear.js"></script>
    <script src="__STATIC__/admin/js/admin_photo/index.js"></script>
</body>
</html>